{% extends "base.html" %}

{% block content %}

        <h1>Rock! Paper! Scissors!</h1>

        <div>
            <form action="/result" method="POST">
            Player 1 choice - 
            <select name="player_1_choice">
                <option value="rock">rock</option>
                <option value="paper">paper</option>
                <option value="scissors">scissors</option>
            </select>

            <br>

            Player 2 choice - 
            <select name="player_2_choice">
                <option value="rock">rock</option>
                <option value="paper">paper</option>
                <option value="scissors">scissors</option>
            </select>

            <input type="submit" value="play game" class="button">


            </form>  



            <form action="/result_against_computer" method="POST">
                Player choice - 
                <select name="player_choice">
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
                <br>
                <input type="submit" value="play against computer" class="button">
    
    
                </form>  


            
                <p>Rock-Paper-Scissors is a game played to settle disputes between two people. Thought to be a game of chance that depends on random luck similar to flipping coins or drawing straws, the game is often taught to children to help them settle arguments between themselves on their own without adult intervention. However, the game actually can be a game that has an element of skill that requires quick thinking and perceptive reasoning.</p>

                <p>The game is played with three possible hand signals that represent a rock, paper, and scissors. The rock is a closed fist; paper is a flat hand with fingers and thumb extended and the palm facing downward; and scissors is a fist with the index and middle fingers fully extended toward the opposing player. <b>Rock wins against scissors; paper wins against rock; and scissors wins against paper.</b> If both players throw the same hand signal, it is considered a tie, and play resumes until there is a clear winner.</p>

                <p>The hand signals are given simultaneously by both players. The ritual used to get players in sync with each other so they can deliver their throws simultaneously is called the prime. This action requires retracting the player’s fist from full-arm extension towards the shoulder and then back to full extension. To ensure a fair match the players must be in sync with their primes. Players must determine before play how many times they pump their arms during the prime phase, usually two or three times before the final delivery of their throw.</p>
         
        </div>

        
        
        

{% endblock %}